      .container section {
          clear: both;
          margin: 20px 0 0;
          overflow: hidden;
      }
      #order-form {
          min-height: 200px;
      }
      #order-form section {
          display: none;
      }
      #order-form section.show {
          display: block;
      }
      #order-form ul {
          margin: 0;
          padding: 0;
      }
      #order-form li {
          border: 1px solid #ccc;
          width: 20%;
          float: left;
          position: relative;
          list-style: none;
      }
      #order-form li.selected {
          background-color: #edffe7;
      }
      #order-form li .item-remove {
          display: none;
      }
      #order-form li.selected .item-remove {
          display: inline;
      }
      #order-form li.selected .item-add {
          display: none;
      }
      #order-form li fieldset {
          border: none;
      }
      #order-form .item-image-container {
          padding: 5px;
          text-align: center;
          background: #fff;
      }
      #order-form .item-qty {
          margin-top: 10px;
      }
      #order-form .item-qty label {
          float: left;
          margin-right: 10px;
      }
      #order-form .item-qty-input {
          float: left;
          width: 60%!important;
      }
      #order-form .badge-success {
          display: none;
      }
      #order-form .selected .badge-success {
          display: block;
          position: absolute;
          right: 10px;
          top: 10px;
      }
      #order-form img {
          max-width: 80%;
      }
      #order-form li span {
          display: block;
      }
      #order-details {
          clear: both;
      }
      #order-summary {
          margin-bottom: 40px;
      }
      .list-group-header {
          font-weight: bold;
      }
      .list-group-header {
          border-bottom: 2px solid #000;
          background-color: #f4f4f4;
      }
      #order-summary .item-qty-input {
          width: 40%!important;
          text-align: center;
      }
      #order-summary .item-action {
          text-align: right;
      }
      .closed {
          background: #eee;
      }
      .hide {
          display: none;
      }
      .card-footer {
          text-align: center;
      }
      .page-saved-message {
        margin:30px 0 0;
      }
      img {
          cursor: zoom-in;
      }
      .large-image img {
          width: 100%;
      }
      .modal-active {
          overflow: hidden;
      }
      .modal-active .container:before {
          content: "";
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 100;
          background: rgba(0, 0, 0, 0.80);
      }
      .show {
          display: block!important;
      }
      .modal-box {
          display: none;
          position: absolute;
          width: 80%;
          height: 80%;
          top: 10%;
          left: 10%;
          z-index: 10000;
      }
      .modal-box.large-image{overflow: auto!important;}
      .modal-box .close {
          font-size: 3.5rem;
      }
      .close-alert{
        font-size: 3.5rem;
      }

      .sticky{ position: fixed; }
      .alert-box.sticky{ 
        position: fixed; 
        width: 80%;
        left:10%;
        z-index: 100;
      }